[submodule "lib/rolisteam"]
	path = lib/rolisteam
	url = git@github.com:obiwankennedy/rolisteam.git
[submodule "lib/diceparser"]
	path = lib/diceparser
	url = git@github.com:obiwankennedy/DiceParser.git
